@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Homemade+Apple&display=swap");
/*REAFACTOR STYLES LATER*/

body {
  font-family: "Dosis", sans-serif;
  background-color: #f3f1f7;
}

.spcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.modalShade {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  opacity: 80%;
}
.newThought {
  background-color: #03a9f4;
  height: 45px;
  color: white;
  font-size: larger;
  width: 50%;
  font-family: "Dosis", sans-serif;
  box-shadow: 0 0 6px 2px black;
  border: 2px solid black;
}

h1 {
  font-family: "Homemade Apple", cursive;
  color: #03a9f4;
}
.PostInList {
  min-width: fit-content;
  font-size: 24px;
  border: 1px solid rgb(209, 209, 209);
}

.PostInList p {
  margin: 5px;
}

.Post-Container {
  width: 50%;
  margin-top: 20px;
  border: 2px solid black;
  box-shadow: 0 0px 6px 2px black;
}

.PostForm {
  display: flex;

  position: absolute;
  background-color: #79c5e8;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 0px 6px 2px black;
}

form {
  margin: auto;
  width: 90%;
}
p {
  margin-left: 20px;
  margin-top: 5px;
}
.hidden {
  display: none;
}

#title {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0 0px 6px 2px black;
}

#thought {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0 0px 6px 2px black;
}

.trashCan {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.exitBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 4%;
}

button[type="submit"] {
  width: 100%;
  margin: 3% 0;
  padding: 5px;
  font-family: "Dosis", sans-serif;
  font-size: x-large;
  border: 1px solid black;
  box-shadow: 0 0px 6px 2px black;
}
